appdirs==1.4.3
attrs==17.4.0
certifi==2017.4.17
chardet==3.0.4
click==6.7
dj-database-url==0.4.2
Django==1.11.1
django-hosts==2.0
django-subdomains==2.1.0
docopt==0.6.2
Flask==0.12.2
greenlet==0.4.12
grip==4.3.2
gunicorn==19.7.1
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
msgpack-python==0.4.8
neovim==0.2.0
packaging==16.8
path-and-address==2.0.1
pluggy==0.6.0
psycopg2==2.7.1
py==1.5.2
Pygments==2.2.0
pyjade==4.0.0
pyparsing==2.2.0
pytest==3.4.1
pytz==2017.2
requests==2.18.1
six==1.10.0
typing==3.6.2
urllib3==1.21.1
uWSGI==2.0.17
virtualenv==15.1.0
Werkzeug==0.12.2
whitenoise==3.3.0
